@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@1,300;1,600&display=swap");

:root {
  --title-fonts: "Libre Baskerville", serif;
  --red-hat-font: "Red Hat Display", sans-serif;
  --white: rgba(236, 236, 236, 0.877);
  --background-color: #000000;
  --purple: rgb(97, 33, 122);
  --yellow-hover: #fae475;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  min-height: 100vh;
  background-color: var(--background-color);
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
/** Navigation **/
nav {
  width: 100%;
  position: fixed;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  text-transform: uppercase;
  list-style: none;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.navigation li {
  padding: 2rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.navigation a {
  text-decoration: none;
  color: var(--white);
}
/** Hamburger **/
.ham-icon {
  display: none;
}
/** Heading **/
.header {
  background-color: #837960;
  background-image: linear-gradient(to bottom, transparent, #000000),
    url("images/header-bg.jpeg");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 60rem;
  margin-top: 5rem;
}

.header-title {
  width: 60%;
  max-width: 20rem;
  justify-content: left;
  align-content: left;
  text-align: left;
  margin-top: 30rem;
  margin-left: 10rem;
  text-transform: uppercase;
}
h1 {
  color: var(--white);
  font-family: var(--title-fonts);
  font-size: 3rem;
}
h2 {
  color: var(--white);
  font-weight: 600;
  word-spacing: 8px;
}
/** About Section **/
.about-section {
  width: 80%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 5rem;
  color: var(--white);
  margin-top: 8rem;
}
.highlight {
  display: block;
  color: var(--yellow-hover);
}

.about-pic {
  background-image: url("images/about-pic.jpeg");
  background-position: center center;
  background-size: cover;
  width: 40%;
  max-width: 40rem;
  min-width: 20rem;
  height: 50%;
  max-height: 55rem;
  min-height: 30rem;
  border-radius: 50%;
}
.about-content h3 {
  font-size: 3rem;
  font-family: var(--title-fonts);
  line-height: 5rem;
}
.about-content p {
  font-size: 2rem;
  text-align: left;
}
/** Timeline Section **/
.tribute-info {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
  color: var(--white);
}
.tribute-info h3 {
  font-size: 3rem;
  font-family: var(--title-fonts);
  text-align: center;
  padding: 4rem;
}

.timeline-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--red-hat-font);
}

.timeline-in-detail {
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  justify-content: left;
  gap: 10rem;
}

.timeline-month,
.timeline-year,
.timeline-event {
  width: 100%;
}
.timeline-month {
  font-size: 1.5rem;
}
.timeline-year {
  font-size: 2rem;
}

.timeline-event {
  font-size: 1.2rem;
}

/** Blockquote **/
.blockquote {
  width: 60%;
  margin: 0 auto;
  font-family: var(--red-hat-font);
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 8rem;
}
.blockquote cite {
  color: var(--yellow-hover);
}

/** Resources **/
.resources {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  font-family: var(--red-hat-font);
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 8rem;
}
.resources h3 {
  font-size: 3rem;
  font-family: var(--title-fonts);
  text-align: center;
  padding: 9rem;
}
.resources-img {
  background-image: url("images/resources-img.jpeg");
  width: 80%;
  min-width: 15rem;
  height: 15rem;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}
.resources-list {
  list-style: none;
  line-height: 3rem;
  width: 100%;
}
.resources-list a {
  text-decoration: none;
  color: var(--white);
}
/** Hover **/
@media (hover: hover) {
  .timeline-month p:hover,
  .timeline-year p:hover,
  .timeline-event p:hover,
  .navigation a:hover,
  .resources-list a:hover {
    cursor: pointer;
    color: var(--yellow-hover);
    transition: color ease-in 0.3s;
  }
}
